<div class="container-fluid">
  <div class="row">

    <h2>Section title</h2>
    <div class="table-responsive small">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">iCET</th>
            <th scope="col">Home</th>
            <th scope="col">Work</th>
            <th scope="col">Task</th>
            <th scope="col">Body</th>
            <th scope="col">Project</th>
            <th scope="col">Spacial</th>
            <th scope="col">Income</th>
            <th scope="col">Outcome</th>
            <th scope="col">The remining</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let note of noteList;">
            <td>{{note.date}}</td>
            <td>{{note.i_cet}}</td>
            <td>{{note.home}}</td>
            <td>{{note.work}}</td>
            <td>{{note.task}}</td>
            <td>{{note.body}}</td>
            <td>{{note.project}}</td>
            <td>{{note.spacial}}</td>
            <td>{{note.income}}</td>
            <td>{{note.outCome}}</td>
            <td>{{note.re_mining}}</td>
            <td><button (click)="setSelectedNote(note)"
                class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteModal"><i
                  class="bi bi-trash-fill"></i></button></td>

            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                  class="bi bi-pencil-square"></i></button></td>
          </tr>

        </tbody>
      </table>
      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                Conformation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              If you want to Delete this Note ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
              <button (click)="removeNotes()" data-bs-dismiss="modal"
                type="button" class="btn btn-danger">
                Yes Delete !
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Date</label>
                  <input type="date" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">iCET</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Home</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Work:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Task</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>